release.properties
pom.xml.releaseBackup
*.orig

# JRebel
**/rebel-remote.xml
**/rebel.xml

# Eclipse
**/.classpath
**/.project
**/.settings/

# IntelliJ IDEA
.idea/
**/*.iml
*.iws

# Mac
**/*.DS_Store

# Maven
**/log/
**/target/

# Npm & Bower
**/bower_components/

# Sass
**/.sass-cache

# Liferay-Instant-Deploy
/target/
/bin/

# compiled output
/dist
/tmp
/out-tsc
/build
.gradle/
build/
target/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json